:root {
  font-family: "Microsoft YaHei";
}

body {
  position: relative;
  width: min(100%, 768px);
  margin: 0 auto;
  background-color: #111111;
  color: white;
}



.landing {
  &__bg {
    position: absolute;
    z-index: -9999;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    img:last-child {
      // Fix the difference with bg image sizes that creates
      // a gup between on smaller devices
      margin-top: -1px;
    }
  }

  &__navigation {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-start;
    width: 95%;
    margin: 2.5%;

    img:first-child {
      margin-right: auto;
    }

    img {
      display: inline-block;
      cursor: pointer;
      width: 8.7%;
    }
  }

  &__hands {
    img:first-child {
      position: absolute;
      // width: 23.5%;
      // left: 36%;
      // top: 22%;
      width: 9.2rem;
      left: 14rem;
      top: 17.3rem;
    }
  }
}