:root {
  font-family: "Microsoft YaHei";
}

body {
  background-color: #111111;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: min(100%, 76.8rem);
  justify-content: center;
  margin: 0 auto;
  color: white;
}

.landing {
  &__bg {
    display: block;
    width: 100%;
  }

  &__title {
    transform: translateY(-19.5rem);
    position: absolute;
  }

  &__nav {
    position: relative;

    &__items {
      position: absolute;
      display: flex;
      top: 2rem;
      left: 2rem;
      width: calc(100% - 4rem);
      
      justify-content: flex-start;

      &__first {
        margin-right: auto;
      }
    }
  }
}